{{#each comments as |comment|}}
<section class="card">
    <div class="card-body">
      <p>{{comment_body}}</p>
      <p>Created by, {{user.name}}, On {{date_created}}</p>
        {{#if owned_comment }}
    <button class="btn btn-sm btn-danger comment-delete-btn" data-id="{{id}}">DELETE</button>
     <button class="btn btn-sm btn-success"><a href="/editpost/{{id}}">EDIT</button>
    {{/if}}
      
    </div>

</section>
{{/each}}